_site
.sass-cache
.jekyll-metadata
*~
.DS_Store
evaluation.csv
hidden*
ganttChart.png
UCalgary-logo-2019.jpg
UofC-WGSummerSchool-May2019.jpg
schulich*.png
wgLogoHighResVertical.jpg
researchComputingServicesLogo.png
